---
layout: default
title: Blog
navbar: blog
---

{% if paginator.page == 1%}
  {% include brand.html %}
{% endif %}

{% for post in paginator.posts %}
  <div>
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

    <div class="post-content">
    {{ post.content }}
    </div>

    <i>Posted by:</i> <b><span class="author">{{ post.author }}</span></b>
    <b><span class="date">{{ post.date | date_to_long_string }}</span></b>
    <br>

    {% if forloop.last != true %}
      <hr>
    {% endif %}
  </div>
{% endfor %}

{% include paginator.html %}
