<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ site.root_url }}" title="SIG-Game" class="navbar-brand" rel="home">
        <img src="{{ site.static_url }}img/brand.svg" alt="SIG-Game" class="img-responsive" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="{% if page.navbar == "blog" %}active{% endif %}">
          <a href="{{ site.root_url }}">Blog</a>
        </li>

        <li class="{% if page.navbar == "about" %}active{% endif %} dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            About Us <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="about/">About Us</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="about/#Brief-History">Brief History</a>
            </li>
            <li>
              <a href="about/#What-We-Do">What We Do</a>
            </li>
            <li>
              <a href="about/#Projects">Projects</a>
            </li>
            <li>
              <a href="about/#Contact-Us">Contact Us</a>
            </li>
          </ul>
        </li>

        <li class="{% if page.navbar == "megaminerai" %}active{% endif %} dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            MegaMinerAI <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="about/#What-We-Do">About MegaMinerAI</a>
            </li>
            <li>
              <a href="MegaMinerAI-Rules">Competition Rules</a>
            </li>
            <li>
              <a href="http://docs.megaminerai.com/">Documentation</a>
            </li>
            <li>
              <a href="ssh-fingerprint">Our SSH Fingerprint</a>
            </li>
          </ul>
        </li>

        <li class="{% if page.navbar == "sponsors" %}active{% endif %}">
          <a href="sponsors">Our Sponsors</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://megaminerai.com" class="btn-success">Go to MegaMinerAI.com <i class="fa fa-arrow-circle-right"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
